<div class="row registration">
  <div class="col-md-12">
      <h2>Registration</h2>
  </div>
  <div class="col-md-12">
      <form [formGroup]="profileForm" (ngSubmit)="Save()">
      <mat-tab-group>
          <mat-tab label="General Info">
              <div class="example-container">
                <mat-form-field>
                  <input matInput formControlName="tan" length="10" placeholder="TAN Number">
                  <mat-hint align="end">Valid TAN Number required.</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="name" placeholder="Clinic Name">
                    <mat-hint align="end">Max 40 charecters allowed as a clinic name.</mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput formControlName="email" placeholder="Email id">
                      <mat-hint align="end">Valid Email-id require</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="mobile" placeholder="Mobile Number">
                        <mat-hint align="end">Min 10 digits number and valid mobile number require.</mat-hint>
                      </mat-form-field>
                      <mat-form-field>
                          <input matInput formControlName="doctors" placeholder="Number of Doctors">
                          <mat-hint align="end">How many doctors your clinic have?</mat-hint>
                        </mat-form-field>

              </div>
          </mat-tab>
        <mat-tab label="Subscribe">
            <div class="example-container">
                <mat-form-field>
                  <mat-select placeholder="Choose Subscription Type Here" formControlName="subscribe">
                    <mat-option value="0">Free</mat-option>
                    <mat-option value="25">3 Months</mat-option>
                    <mat-option value="45">6 Months</mat-option>
                    <mat-option value="85">1 Year</mat-option>
                  </mat-select>
                </mat-form-field>
                <button type="submit" mat-button class="btn btn-success">Click me!</button>
              </div>
        </mat-tab>
      </mat-tab-group>
      </form>
  </div>
</div>
